{% extends "touchtechnology/admin/edit.html" %}
{% load i18n common %}


{% block extracss %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/DataTables-1.10.12/css/dataTables.bootstrap.min.css"/>
	{{ block.super }}
{% endblock %}

{% block extrajs %}
	<script type="text/javascript" src="{{ STATIC_URL }}/DataTables-1.10.12/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}/DataTables-1.10.12/js/dataTables.bootstrap.min.js"></script>
	<script>
		// Lists in tabs fetched when they are first shown (HTMX admin tabs)
		// arrive after the page has loaded, so set them up as they do.
		function prepareTables(root) {
			$(root).find('table.table').not('.dataTable').DataTable();
		}
		$(document).ready(function() {
			prepareTables(document);
		});
		document.addEventListener('htmx:load', function(event) {
			prepareTables(event.target);
		});
	</script>
	{{ block.super }}
{% endblock %}
