{% extends "touchtechnology/admin/edit.html" %}
{% load i18n %}

{% block form-fieldset %}
	<div class="heading-block">
		<h3>{{ model|type|capfirst }}</h3>
		{% if object.pk %}
			<div class="actions">
				<a href="{% url 'tournamentcontrol.competition:club:person:transfer' club_id=object.club.pk person_id=object.pk %}" 
				   title="{% trans 'Transfer' %} {{ object.get_full_name }}" 
				   class="btn btn-sm btn-warning">
					<i class="fa fa-exchange"></i> {% trans "Transfer" %}
				</a>
			</div>
		{% endif %}
	</div>
	{{ block.super }}
{% endblock %}

{% block extracss %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/DataTables-1.10.12/css/dataTables.bootstrap.min.css"/>
	{{ block.super }}
{% endblock %}

{% block extrajs %}
	<script type="text/javascript" src="{{ STATIC_URL }}/DataTables-1.10.12/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}/DataTables-1.10.12/js/dataTables.bootstrap.min.js"></script>
	<script>
		$(document).ready(function() {
			$('table.table').DataTable();
		});
	</script>
	{{ block.super }}
{% endblock %}
