language: python
dist: xenial
cache: pip

python:
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"

services:
  - postgresql

addons:
  postgresql: "10"
  apt:
    packages:
      - postgresql-10
      - postgresql-client-10

install:
  - pip install tox-travis

before_script:
  - psql -c "CREATE DATABASE vitriolic;" -U postgres

script:
  - tox

env:
  jobs:
    - DJANGO=2.2
    - DJANGO=3.2
    - DJANGO=4.0
  global:
    - DATABASE_URL=postgresql://postgres@localhost/travis

jobs:
  exclude:
    - python: "3.6"
      env: DJANGO=4.0
    - python: "3.7"
      env: DJANGO=4.0
  fast_finish: true

branches:
  only:
    - develop
    - /^\d+\.\d+\.\d+$/

deploy:
  provider: pypi
  edge: true
  user: "__token__"
  distributions: sdist bdist_wheel
  skip_existing: true
  password:
    secure: j9mx+j9F+Un/KpkOC3R1lcHL0NB1MSv2me5+kIzKw7P3HOe/CgquTRsu7YXM0VC8SX3pDoSbEu8d0m1HJ+B9JZKZHnMkMLh3/1QhnLijZtpH6F5z1uwnsH7SCMZGmAjUn6LMY69AF0Eqvw2P5b/xFm0DZ3ifO+Vtf5rrZp2cjuIiQC1QMuqlj4tb1YOQ4GKriNWLMIvPQ2Xo3mn76KwRVwjRthCIh9IAaUb5xAkKFq+YvbRtHeem3foggZyo05svjcVyGFOZTAGTfKLMBNnjw2dyutZmsqqhfdluLMRHdZj8Syhb2FCtrY3LeWxnJgqzApxn5+3UylN9y5WvaMRQPkk+VrvcHXPx1/Tf51nUflrzbpLTjopQzhPMSinTJgsINLBnAHPZ9M4h6tTxQa/UcMLCJ3UCCBILgBna/pJOv6JBW/ailOPy138U5PPrUN6UpU3wogx/kMl7H5BCgwY/ThCPto1dpP9KNdY8sLmk+Vw8klZlVnNRbGn5oUGSug4ifYELcnN4/yezjqSjf90rUlmSxVibbouY73BaGgqQtbxazymJ76VAF9fyBdxB5wWvdRjIwhFzU9vGQ7X018CRI+vXzMwdHPBZP+sLzD/yn5NfRb9gNI8Eu7ne3wshK7kOtacM7Ou0/mx2rfnBXKsOQRizD7ZdJD49tl8RK3dWV1U=
  on:
    tags: true
    repo: goodtune/vitriolic
    python: 3.9
    condition: $DJANGO = 3.2
