{% extends "mvp/list.split.inc.html" %}
{% load i18n %}

{% block table-headings %}
	{{ block.super }}
	<th>{% trans "Short title" %}</th>
	<th>{% trans "Importance" %}</th>
{% endblock %}

{% block table-columns %}
	{{ block.super }}
	<td>{{ obj.short_title|default:"-" }}</td>
	<td>{{ obj.get_rank_importance|default:"-" }}</td>
{% endblock %}

{% block empty-row-colspan %}4{% endblock %}

{% block row-buttons-extra %}
	{% if obj.matches.exists %}
		<a class="btn btn-default btn-sm" role="button" href="{{ obj.urls.undo }}" data-toggle="modal" data-target="#undoModal_stage" data-action="{{ obj.urls.undo }}" data-title="{{ obj }}">
			<i class="fa fa-eject"></i>
			&nbsp;{% trans "Undo" %} <span class="badge">{{ obj.matches.count }}</span>
		</a>
	{% else %}
		<a class="btn btn-default btn-sm" href="{{ obj.urls.build }}" role="button">
			<i class="fa fa-play"></i>
			&nbsp;{% trans "Build" %}
		</a>
	{% endif %}
{% endblock %}
