{% extends "touchtechnology/admin/edit.html" %}
{% load i18n common %}

{% block content %}
	<form class="form-horizontal" action="" method="post">
		<div class="heading-block">
			<h3>{% trans "Live Stream" %}</h3>
		</div>

		{% csrf_token %}

		{{ formset.management_form }}

		<p>{% blocktrans %}Mark which matches on camera-equipped fields should be live streamed to YouTube.{% endblocktrans %}</p>

		<div class="row hidden-xs live-stream-header">
			<div class="col-sm-10">
				<div class="row">
					<div class="col-sm-2"><strong>{% trans "Time" %}</strong></div>
					<div class="col-sm-3"><strong>{% trans "Division" %}</strong></div>
					<div class="col-sm-2"><strong>{% trans "Field" %}</strong></div>
					<div class="col-sm-5"><strong>{% trans "Match" %}</strong></div>
				</div>
			</div>
			<div class="col-sm-2"></div>
		</div>

		<div class="list-group live-stream-list">
			{% for form in formset.forms %}
				{% with match=form.instance %}
					<div class="list-group-item live-stream-row">
						{{ form.id }}
						<div class="row">
							<div class="col-xs-9 col-sm-10">
								<div class="row">
									<div class="col-sm-2">{{ match.datetime|time }}</div>
									<div class="col-sm-3">{{ match.stage.division.short_title|default:match.stage.division.title|htmlentities }}</div>
									<div class="col-sm-2">{{ match.play_at.title|htmlentities }}</div>
									<div class="col-sm-5">{{ match|safe }}</div>
								</div>
							</div>
							<div class="col-xs-3 col-sm-2 text-right">
								{{ form.live_stream }}
							</div>
						</div>
					</div>
				{% endwith %}
			{% endfor %}
		</div>

		<div class="form-group">
			<div class="text-center">
				<button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
				&nbsp;<a class="btn btn-default" href="{{ season.urls.edit }}">{% trans "Cancel" %}</a>
			</div> <!-- /.col -->
		</div>
	</form>
{% endblock %}
