{% extends "mvp/list.split.inc.html" %}
{% load i18n %}

{% block actions %}
	<a href="{% url 'admin:fixja:competition:season:json-builder' competition.pk season.pk %}" title="{% trans "JSON Division Builder" %}" role="button">
		<i class="fa fa-sitemap"></i>
	</a>
	{{ block.super }}
{% endblock %}

{% block table-headings %}
	{{ block.super }}
	<th>{% trans "Short title" %}</th>
{% endblock %}

{% block table-columns %}
	{{ block.super }}
	<td>{{ obj.short_title|default:"-" }}</td>
{% endblock %}

{% block empty-row-colspan %}3{% endblock %}

{% block row-buttons-extra %}
		<a class="btn btn-default btn-sm" href="{% url 'admin:fixja:competition:season:division:scorers' competition.pk season.pk obj.pk %}" role="button">
			<i class="fa fa-bar-chart"></i>
			&nbsp;{% trans "Leaders" %}
		</a>
		<a class="btn btn-default btn-sm" href="{% url 'admin:fixja:competition:season:division:export-json' competition.pk season.pk obj.pk %}" role="button" title="{% trans "Export as JSON" %}">
			<i class="fa fa-download"></i>
		</a>
{% endblock %}
