{% extends "registration/base.html" %}
{% load i18n %}
{% load common %}

{% block content %}
	{% block heading %}
		<h1>{% block page_title %}{% trans "My Account" %}{% endblock %}</h1>
	{% endblock %}

	{% block before %}{% endblock %}

	{% block profile_content %}
		{% blocktrans %}
			<p>Welcome back {{ user.first_name }} &ndash; this is your personal page.</p>
		{% endblocktrans %}

		{% block profile_form %}
			<form class="fields" action="" method="post">
				{% csrf_token %}

				{% block form_content %}
					{% for f in form %}
						{% field f %}
					{% endfor %}
				{% endblock %}

				<div class="btn-group">
					{% block buttons %}
						<button class="btn btn-default">
							<i class="fa fa-save"></i>
							{% trans "Save" %}
						</button>

						<a class="btn btn-default" role="button" href="{% url 'accounts:password_change' %}">
							<i class="fa fa-key"></i>
							{% trans "Change Password" %}
						</a>

						{% block logout-button %}
							<button type="submit" class="btn btn-default" form="logout-form">
								<i class="fa fa-sign-out"></i>
								{% trans "Logout" %}
							</button>
						{% endblock %}
					{% endblock %}
				</div>
			</form>

			{# LogoutView only accepts POST since Django 5.0; forms can't nest, so #}
			{# the Logout button above submits this one through its form attribute. #}
			<form id="logout-form" method="post" action="{% url 'accounts:logout' %}">
				{% csrf_token %}
			</form>
		{% endblock %}
	{% endblock %}

	{% block after %}{% endblock %}
{% endblock %}
