{% extends "tournamentcontrol/competition/base.html" %}
{% load i18n %}

{% block page_title %}{{ competition.title }} - {{ season.title }} - {{ venue.title }}{% endblock %}

{% block content %}
<h1>{% trans competition.title %} - {% trans season.title %}</h1>
<h2>{% trans venue.title %}</h2>

<ul id="grounds">
{% for g in grounds %}
    <li><a href="{{ g.urls.view }}">{{ g.title }}</a></li>
{% endfor %}
</ul>

<ul id="dates">
{% for d in dates %}
    <li><a href="{{ d|date:'Ymd' }}/">{{ d|date }}</a></li>
{% endfor %}
</ul>

{% for date, matches in matches_by_date.items %}
<h3>{{ date }}</h3>
<table class="draw">
<tbody>
{% for match in matches %}
<tr><td class="time">{{ match.datetime|time }}</td><td class="field">{{ match.play_at.title }}</td><td>{{ match.get_home_team.title }}</td><td>{{ match.get_away_team.title }}</td></tr>
{% endfor %}
</tbody>
</table>
{% endfor %}
{% endblock %}
