name: Unit Test

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop

jobs:
  test:
    name: dj${{ matrix.django }}-py${{ matrix.python }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        django: [42, 52, 60]
        python: [311, 312, 313, 314]
        exclude:
          # Django 4.2 doesn't support Python 3.14
          - django: 42
            python: 314
          # Django 6.0 doesn't support Python 3.11
          - django: 60
            python: 311

    steps:
      - uses: actions/checkout@v6

      - name: Setup uv
        uses: astral-sh/setup-uv@v7

      - name: Run Tests
        run: uvx tox
        env:
          TOXENV: dj${{ matrix.django }}-py${{ matrix.python }}
