name: Validate Renovate

on:
  push:
    paths:
      - 'renovate.json'
  pull_request:
    paths:
      - 'renovate.json'

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
      - run: npx --package renovate -c renovate-config-validator
